@charset "UTF-8";


.slider {
    display: flex;
    position: relative;

}
.next, .prev {
    border: none;
    border-radius: 5px;
    background: none;
    font-size: 30px;
    background-color: #eee;
}
.next:hover,
.prev:hover {
    background-color: #ddd;
}
.prev {
    order: 1;
}
.inner {
    position: relative;
    flex-grow: 1;
    order: 2;
    overflow: hidden;
    white-space: nowrap;
}
.next {
    order: 3;
}
.item {
    width: 100%;
    position: absolute;
    display: none;
}
.image {
    width: 23%;
    margin: 0 1%;
    display: inline-block;
}
img {
    width: 100%;
}

.active {
    position: relative;
    display: block;
}
.item-next,
.item-prev {
    top: 0;
    display: block;
    z-index: 1;
}
.item-next {
    left: 100%;
}
.item-prev {
    left: -100%;
}
.item-left {
    animation: slideInLeft 1s forwards;
}

.item-right {
    animation: slideInRight 1s forwards;
}

.active-left {
    animation: slideOutLeft 1s forwards;
}
.active-right {
    animation: slideOutRight 1s forwards;
}


@keyframes slideInLeft {
    from {left:100%;}
    to {left:0;}
}

@keyframes slideInRight {
    from {left:-100%;}
    to {left:0;}
}

@keyframes slideOutLeft {
    from {left:0;}
    to {left:-100%;}
}

@keyframes slideOutRight {
    from {left:0;}
    to {left:100%;}
}